    h1 {
        text-align: center;
    }
    
    h2 {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    p {
        margin: 10px 0px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
  
    .bild {
        width: 100%;
    }  

@media screen and (max-width: 799px) {

#container1 {
    display: flex;
    flex-direction: column;
    margin: 70px 10% 50px;
    justify-content: space-around;
}

.container2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.container3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Abbildung {
    width: 50%;
float: right;
}
.heading {
    max-width: 49%;
}
.info {
    width: 49%;
}
.text {
    width: 100%;
    clear: both;
}
}

@media screen and (min-width: 800px) {

    #container1 {
        display: flex;
        flex-direction: row;
        margin: 70px 10% 50px;
        justify-content: space-around;
    }
    
    .container2 {
        width: 30%;
        display: flex;
        flex-direction: column;
    }

    .container4 {
        display: flex;
        flex-direction: column;
    }
.info {
    order: 4;
}
.text {order: 3;}
}