@media screen and (max-width: 799px) {

  #container1 {
    display: flex;
    flex-direction: column-reverse;    
    align-items: center;
    padding-top: 100px;
    margin-bottom: 150px;
    }
    
    #container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

  #bild {
    width: 60%;
  }
}

@media screen and (min-width: 800px) {
 
  #container1 {
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content: space-around;
    padding-top: 100px;
    margin-bottom: 150px;
  }
  
  #container2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  }

  #bild {
    width: 35%;
  }

  html {
    height: 100%;
    }
    
    body {
    height: 100%;
    display: flex;
    flex-direction: column;
    }
    
    main {
    flex: 1;
    }
}